@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.flex-all-center{
 display: flex;
 justify-content: center;
 align-items: center;
}
.btn{
    padding: 5px 10px;
    background-color: #b8e0d2;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.my2{
    height: auto;
    font-family: 'Raleway', sans-serif;
    margin: -6px 36px;
}
.textcentre{
     text-align: center;
}
.head2{
    height: auto;
    font-family: 'Raleway', sans-serif;
    margin: -6px 36px;

}
.card1{
    width: 160px;
    height: 160px;
}